
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- slider area start -->
<div class="slider-area home2">
    <div class="bend niceties preview-2">
        <div id="nivoslider" class="slides">
            <img src="/Content/img/slider/slider-7.jpg" alt="" title="#slider-direction-1" />
            <img src="/Content/img/slider/slider-12.jpg" alt="" title="#slider-direction-2" />

            <img src="/Content/img/slider/slider-8.jpg" alt="" title="#slider-direction-2" />
        </div>

    </div>
</div>
<!-- slider area end -->
<!-- service area start -->
<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-service">
                    <div class="sirvice-img">
                        <img src="/Content/img/service/icon-1.png" alt="">
                    </div>
                    <div class="service-info">
                        <h3>Miễn phí giao hàng</h3>
                        <p>Phí giao hàng chưa bao giờ là vấn đề với công ty chúng tôi !</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-service">
                    <div class="sirvice-img">
                        <img src="/Content/img/service/icon-1.png" alt="">
                    </div>
                    <div class="service-info">
                        <h3>Bảo hành 6 tháng</h3>
                        <p>Mọi lỗi từ nhà sản xuất sẽ được cửa hàng thực hiện chính sách bảo hành</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-service">
                    <div class="sirvice-img">
                        <img src="/Content/img/service/icon-1.png" alt="">
                    </div>
                    <div class="service-info">
                        <h3>Tư vấn 24/24</h3>
                        <p>Bất cứ khi nào bạn cần hỗ trợ, chúng tôi đều trả lời bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- service area end -->

<!-- feature products area start -->
<div class="features-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="section-heading">
                    <h2>BÁN CHẠY NHẤT</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-content">
                @Html.Action("BestSellerProduct", "Product")

            </div>

        </div>
    </div>
</div>
<!-- feature products area end -->
<!-- sell off product area start -->
<div class="features-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>SẢN PHẨM GIẢM GIÁ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-content">
                @Html.Action("SaleProduct", "Product")

            </div>

        </div>
    </div>
</div>
<!-- sell off product area end -->
<!-- new products area start -->
<div class="new-products-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>SẢN PHẨM MỚI</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Action("NewProduct", "Product")
        </div>

    </div>
</div>
<!-- new products area end -->
<!-- blog area end -->
